# Fichier de propriétés pour le keystore de production
# Ne PAS commiter ce fichier s'il contient des mots de passe réels.
# Ajoutez `keystore.properties` à votre `.gitignore`.

storeFile=../my-release-key.jks
storePassword=votre_mot_de_passe_store
keyAlias=votre_alias
keyPassword=votre_mot_de_passe_cle
